*{margin: 0px;
 padding:0px;
 outline:0px;

}
body{

	font-family:arial;
	font-size:15px;
	line-height:17px;
	color:black;
	background:url(images/image.jpg);
}
.templete{
		width:960px;
		margin: 0 auto;
}
.clear{
	overflow:hidden;
}
.headersection{
	background:#8B8B8B;
	color:white;
}
.logosite{
	width:500px;
	float:left;
}
.logosite img{
	float:left;
	width:80px;
	padding-top:1opx;
	padding-bottom:10px;
	padding-left:10px;
	margin-right:10px;

}
.logosite h2{
	font-size:28px;
	padding-top:21px;
}
.logosite p{
	font-size:17px;
	line-height:2.1;
	color:#fff;
	
	
}

.socialsite{
	width:280px;
	float:right;
}
.socialsite img {
	width:35px;
	padding-top:20px;
	margin-left: 14px;
}


.navsection{
	
	background:#E4E4E4;
	}
.navsection ul{
	margin:0px;
	padding:0px;
	list-style:none;}
.navsection ul li{
	display:block;
	float:left;}
.navsection ul li a{
background: none repeat scroll 0% 0% #FFFFFF;
color: #484B8B;
display: block;
text-decoration: none;
font-size: 16px;
padding: 6px ;
margin: 5px 15px;
}
.navsection ul li a:hover{
	color:red;
	background:black;
	
}

.slidersection{
	margin-bottom: 15px;
box-shadow: 0px 8px 10px -2px #555;
}
.maincontent{
	background:#ffffff;
}
.leftsection{
	width:640px;
	background:#F0F0F0;
	float:left;
	margin:15px;
	padding:10px;
	margin-left:0px;
	margin-top:0px;
	display:block;
	
}
.samepost{
	
}
.samepost h2{
	
	padding:10px;
	margin-bottom:10px;
	border-bottom:2px solid #555555;
	font-size:26px;
	
}
.samepost img{
	 background: #fff;
    padding: 10px;
    float: left;
    width: 150px;
    border: 1px solid #9b999a;
    margin-right: 10px;
}
}
.samepost p{
	font-size:16px;
	line-height:23px;
	text-align:justify;
	margin-bottom:15px;
}
.readmore{
	float:right;
	margin-bottom:5px;
	
}
.readmore a{
	background:#fff;
	display:block;
	text-decoration:none;
	font-size:15px;
	padding:4px 8px;
	color:#333;
	border-radius:5px;
	border:1px solid #9b999a;
	
}
.readmore a:hover{
	color:red;
}
.rightsection{
	width:250px;
	background:#F5F5F5;
	float:right;
	margin-top:0px;
	padding:10px;
}
.rightsection h2{
background: #9b999a;
padding: 10px;
color: #FFFFFF;
margin-bottom:10px;
border-bottom: 2px solid #555555;
margin-top:10px;
}
.rightsection p{
	margin-bottom: 5px;
	
}

.footersection{
	height:90px;
	background:#8B8B8B;
	text-align:center;}

.footermanu{
	color:#555;
	margin-top:15px;
	margin-bottom:10px;
	padding-right:10px;
	font-size:20px;
	font-family:times new roman
	
	
}
.footermanu ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.footermanu ul li{
	display:inline-block;
}
.footermanu ul li a{}

.footersection p{}
